::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: lavender;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    border-radius: 0px;
}